.DetalhesPedido {


    .linha {
        font-size: 20px;
        margin: 0px;
        margin-bottom: 1px;
        border-bottom: 1px solid #f5f5f5;
        padding: 0px;
    }

    .label {
        background-color: #f5f5f5;
        line-height: 50px;
    }

    .valor {
        // line-height: 50px;
        padding-top: 10px;
    }

}